/**Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**Header*/

header {
    background-image: url('/assets/img/wall.png');
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titolo {
    font-family: 'Patrick Hand';
    font-size: 70px;
}


/**Main*/

main {
    background-image: url('/assets/img/cork.png');
    height: calc(100vh - 100px);
}