/**Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**Header*/

header {
    background-image: url('/assets/img/wall.png');
    background-size: cover;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titolo {
    font-family: 'Patrick Hand';
    font-size: 60px;
}


/**Main*/

main {
    background-image: url('/assets/img/cork.png');
    height: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
}

.card-polaroid {
    height: 380px;
    width: 300px;
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.card-polaroid img {
    height: 270px
}

#data {
    font-family: 'Sometype Mono', monospace;
}

#titolo-card {
    font-family: 'Edu TAS Beginner', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#pin {
    height: 35px;
    position: absolute;
    top: 0;
    left: 46%;
    transform: translateY(-35%);
}


/* Mobile Responsive */

@media (max-width: 991px) {
    #titolo {
        font-size: 55px;
    }
}

@media (max-width: 767px) {
    #titolo {
        font-size: 50px;
    }
}