/**Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**Header*/

header {
    background-image: url('/assets/img/wall.png');
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titolo {
    font-family: 'Patrick Hand';
    font-size: 70px;
}


/**Main*/

main {
    background-image: url('/assets/img/cork.png');
    height: 100%;
}

.card-polaroid {
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 15px;
}

.card-polaroid img {
    height: 270px
}

#data {
    font-family: 'Sometype Mono', monospace;
}

#titolo-card {}